{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <ul>
        {% for list in lists %}
            <li>
                <h2><a href="/list-details/{{ list.id }}/">{{ list.name }}</a></h2>
            </li>
        {% endfor %}
    </ul>
    <div>
        {% if error %}
            <p>{{ error.error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <input type="text" name="name">
            <button>Create</button>
            <input type="submit" name="Delete" value="Delete">
        </form>
        
        <div>
            <br>
            <form action="/auth/logout/" method="post">
                {% csrf_token %}
                <button style="width: 200px; height: 50px;">LOGOUT</button>
            </form>
        </div>


    </div>
{% endblock %}